/*NAVIGATION
**********************************************/
.navbar-nav {
    margin-left: 125px;
}


/*POSTS
**********************************************/
.posts-recent {
    margin-top: 85px;
}

.posts-recent > li {
    margin-bottom: 45px;
}

.post-heading {
    margin-top: 0;
}

.post-topic {
    font-style: italic;
}

.post-info {
    margin-top: 30px;
}

.post-info span {
    margin-right: 5px;
}

.post-item {
    display: inline-block;
    margin-right: 20px;
}

.post-item.post-comments-qty {
    margin-left: 30px;
}


/*MEDIA QUERIES
**********************************************/
@media (max-width: 768px) {

    .navbar-nav {
        margin-left: -15px;
    }

    .post-item.post-comments-qty {
        display: block;
        margin-right: 0;
        margin-left: 0;
        margin-top: 25px;
    }

    .post-info,
    .post-heading {
        margin-top: 10px;
    }

    .post-item.post-comments-qty,
    .post-info,
    .post-heading,
    .post-topic {
        text-align: center;
    }

}