<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/" ng-click="tab.selectTab(1)">Reddit</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{ active:tab.isSelected(1) }">
                    <a href="#/hot" ng-click="tab.selectTab(1)">Hot <span class="sr-only">(current)</span></a>
                </li>
                <li ng-class="{ active:tab.isSelected(2) }">
                    <a href="#/new" ng-click="tab.selectTab(2)">New</a>
                </li>
                <li ng-class="{ active:tab.isSelected(3) }">
                    <a href="#/top" ng-click="tab.selectTab(3)">Top</a>
                </li>
            </ul>
        </div>
    </div>
</nav>