<ul class="list-unstyled posts-recent">
    <li class="" ng-repeat="item in list.data.children">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                <a href="{{item.data.url}}" target="_blank">
                    <img class="img-thumbnail center-block" ng-src="{{ item.data.thumbnail }}" fallback-image alt=""/>
                </a>
            </div>

            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <h4 class="post-heading">{{ item.data.title }}</h4>
                <p class="post-topic">{{ item.data.subreddit }}</p>
                <ul class="post-info list-unstyled">
                    <li class="post-item post-score">
                        <span class="glyphicon glyphicon-star"></span>{{ item.data.score }}</li>
                    <li class="post-item post-author"><span class="glyphicon glyphicon-user"></span>{{ item.data.author }}</li>
                    <li class="post-item post-date"><span class="glyphicon glyphicon-calendar"></span>{{ item.data.created_utc | redditDate: "MMM dd yyyy" }}</li>
                    <li class="post-item post-comments-qty"><a href="https://www.reddit.com{{ item.data.permalink }}" target="_blank">
                        <span class="glyphicon glyphicon-comment"></span>{{item.data.num_comments}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>